  #wrapper {
    padding-left:250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
/*#wrapper.toggled {
    padding-left: 250px;
    overflow-y: scroll;
}*/


#datepick {
    width: 250px;
    padding-top: 10px;
}
#sidebar-wrapper {
    position: fixed;
    left: 250px;
    z-index: 1000;
    overflow-y: auto;
    margin-left: -250px;
    width: 0;
    height: 100%;
    background: #ddd;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
     /*overflow:scroll;*/
     overflow-y: scroll;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    padding: 15px;
    width: 100%;

}

#wrapper.toggled #page-content-wrapper {
    /*position: absolute;*/
    /*margin-right: -250px;*/

}



.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: black;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    /*background: rgba(255, 255, 255, 0.2);*/
    color:black;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: black;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}
.input-group
{
  width: 50%;
  margin-left: 200px;
  margin-top:7px;
/*background-color: orange;*/
}
#google
{
  text-align: center;
  color:black;
  margin-top: 30px;
  position: fixed;
  font-size: 24px;
}
/*#panel1
{
  background:none;
  border: none;
}*/
#btn1
{
  background-color:orange;
}
#container
{
  width:80%;
  height:auto;
  margin-right: 105px;*/
  margin-top: 30px;
}
/*textarea {
    border: none;
    overflow: hidden;
  box-shadow: none;
      width:100%;
      height:100%;
      -webkit-appearance:none;
 -moz-appearance:none;
 appearance:none;
}*/
body
{
  background-color: #e8e8e8;
}
#done
{

  background:none;
   border:none;
  padding:0;
  /*position: absolute;*/
  /*right:0;
  bottom: 0;*/
}


#navbar11
{
  background-color:orange;
}
h3
{
  margin-left: 50px;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: #999999;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}
.list
{
width:700px;
height: auto;
display: block;
margin-left: 50px;
}

  #containerbox:before, #containerbox:after {
    display:table;
    content:"";
    zoom:1 /* ie fix */;
}

#containerbox:after {
    clear:both;
}

#containerbox {
  width:100%;
    margin:0 auto;
    border:1px solid #fff;
    box-shadow:0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    /*border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;*/
    background-color:#ffffff;
}
.mainbody {

    border: solid #eee;
    border-width:1px 0;
    min-height:100px;
    /*overflow: hidden;*/
    outline:none;
    box-sizing: border-box;
    overflow-y: auto;
}


.header, .footer {

    padding: 5px;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
}
#title
{
width:100%;
outline:none;
border:none;
}
#card
{
  /*height: auto;*/
  /*min-width:300px;*/
  min-height: 100px;
  word-wrap: break-word;
  background-color: white;
  margin-top: 30px;
  box-shadow: 10px 10px 5px #888888;
}
/*#carddata
{
  background-color: white;
  word-wrap: break-word;
  min-height:60px;
  width:400px
}*/
/*.grid-item { width: 25%; }
.grid-item--width2 { width: 80%; }*/
/*#container
{
  margin-left: 200px;
}*/

#grid{
  width: 240px;
  height: auto;
  display: block;
}
#list{
  width:80%;
}
.list
{
width:500px;
height: auto;
display: block;
/*margin-left: 170px;*/
}
#modeltitle
{
  width:100%;
  border: none;
  outline: none;
}
.card-footer{
position:absolute;
  bottom:0;
  width:100%;
}
#trash
{
/*margin-top:100px;*/
margin-top: 70px;
}
#card:hover+#trash
{
  display: block;
}
a
{
color:black;
}
.navbar-inverse .navbar-nav>li>a {
  color: black;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
#google
{
  margin-top: 10px;
}
@media (max-width: 766px) {
    #wrapper {
        padding-left: 0;
    }
    #content
    {
      min-width: 400px;
      margin-left: -56px;
    }
    /*#card{
    width:400px;
    }
    #page-content-wrapper
    {
      margin-left:-138px
    }
    #containerbox
    {
      width:400px;
    }*/
    /*#card
    {
      width:100%;
    }*/
    /*#wrapper.toggled {
        padding-left: 0;
    }*/
    #card
    {
      min-width: 360px;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    #wrapper {
        padding-left:0;
    }
    #grid{
      width: 95%;
    }
    /*#wrapper.toggled {
        padding-left: 0;
    }*/
    #trash
    {
    /*margin-top:100px;*/
    margin-top: 70px;
    }
    /*#containerbox {
width:100%;
        margin:0 auto;
        border:1px solid #fff;
        box-shadow:0px 2px 7px #292929;
        -moz-box-shadow: 0px 2px 7px #292929;
        -webkit-box-shadow: 0px 2px 7px #292929;
        /*border-radius:10px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;*/
        background-color:#ffffff;
    }*/



}
@media (max-width: 530px) {

  /*#done
  {
    margin-left: 250px;
  }*/
  /*#card
  {
    min-width: 300px;
  }*/
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
#color{
  /*top: 22px;*/
    left: 86px;
    background-color: #fff;
    /*border: 1px solid;*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12)!important;

/*-webkit-box-sizing: border-box;*/
/*box-sizing: border-box;*/
/*-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);*/
/*opacity: 8;*/
box-shadow: 0 1px 4px rgba(0,0,0,0.2);
padding: 5px 10px 3px;
/*padding: 2%;*/
position: absolute;
/*-webkit-transition: visibility 0s ease .218s,opacity .218s linear;*/
/*transition: visibility 0s ease .218s,opacity .218s linear;*/
/*visibility: hidden;*/
height: 70px;
width: 145px;
z-index: 1100;
}
#color a
{
  margin-top: 10px;
}
#tim
{
margin-left: 20px;
}
#content
{
  width:83%;
  padding-left: 66px;
}
#profileimg {
    width: 40px;
    height: 40px;
    /*width: 100%;*/
    /*height: 100%;*/
    border-radius: 50%;
}

#profileancor {

  margin-top: 23px;
margin-right: 32px;
}

#dropdownpic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #fff;
}

#dropdownpic:hover {
    border: 6px solid #ffbb00;
    transform: rotate(360deg);
    transition: all 2s ease;
    /*transform: rotateY(180deg);*/
}

#reminderDiv{
  height: 30px;
}

#dropdownprofile {
    width: 280px;
    height: 220px;
    margin-top: 64px;
    padding: 10px;
}
#search
{
  background-image:url("../image/icons8-Search-20.png");
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding-left: 32px;
  /*padding-top: 10px;*/
}
.image li a {
    float: right;
    margin-right: 2%;
    /*margin-top: -29px;*/
}

#li {
    list-style: none;
    margin-top: -32px;
}

li img {
    margin-top: 0px;
}

.addcard {
    /*height: 100%;*/
    width: 79%;
    margin-left: 18%;
    /*padding-top: 20px;*/
}
#logout
{
  float: right;
}
#abc
{
  margin-left: 40px;
}
#remindericon {
    padding: 5px;
    margin-top: 5px;
    font-size: 12px;
    color: #979797;
}

#remindericon:hover {
    color: #000;
}
