<div id="date" ng-repeat="x in records track by $index">
    <div id="activitydate" ng-show="$first" style="font-weight:italic">{{x.created_at|date:"mediumDate"}}</div>
</div>
<div class="activity" ng-repeat="x in records" ng-if='!x.pin_note&&!x.archive' style="background-color:white">

    <br>
    <div class="msg" style="padding-left:15px;padding-right:10px">
        <i style="color:#0ba">{{x.title}}</i>
        <i>&nbsp{{x.data}}</i>
        <i style="float:right;color:#a6a6a6">{{x.created_at | date:"shortTime"}}</i>
    </div>
    <br>
    <!-- <div class="msg" style="float:right"></div> -->
    <div class='lazyload' lazyload></div>
    <div style="border-bottom:1px dashed black;width:100%"></div>
</div>
