              <div id="modalsize" >
                <input type="text" ng-style="$ctrl.modalColor" placeholder="Title" ng-model="$ctrl.updatetitle" id="updatetitle" autofocus/></input>
                <div ng-style="$ctrl.modalColor" contenteditable1 contenteditable="true" ng-model="$ctrl.updatecontent" placeholder="Take a note..." id="updatecontent"></div>
                <div ng-style="$ctrl.modalColor" id="staticicon">
                  <div id="date_height">
                    <div id="date">
                      Edited {{$ctrl.date | date:'HH:mm'}}
                    </div>
                  </div>
                    <!-- <div id="hideicon">
                        <a id="remove" ng-click="$ctrl.remove()"><img id="removeimg" src="../image/icons8-Delete-20.png"></a>
                    </div> -->
                    <button ng-style="$ctrl.modalColor" id="updatedone" ng-click="$ctrl.update()"><b>DONE</b></button>
                </div>
              </div>
